
<div class="">
  <p><%= link_to "RECEIPES", recipes_path %></p>
  <h4><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_300,w_500/v1480480211/Seafood Paella.jpg"</h4>
</div>
<div class="" >
  <p><%= link_to "QUICK & EASY", cuisines_path%></p>
  <h4><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_300,w_500/v1480520036/sticky-chicken-wings-with-caramelised-onion-and-coconut-rice-102771-1_zmaoou.jpg"</h4>
</div>
<div class="">
  <p><%= link_to "ENTERTAINING", cuisines_path%></p>
  <h4><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_300,w_500/v1480517075/Malaysian_Satay_l12z7w.jpg"</h4>
</div>
